<section class="section">
  <div class="container is-fluid">
    <div class="media" *ngFor="let group of structures | groupBy:'name'">
      <div class="media-content">
        <div class="box">
          <h1 class="title">{{group.value[0].name}} ({{group.value.length}})</h1>
          <h2 class="subtitle">{{group.value[0].description}}</h2>
          <div class="card">
            <div class="card-header cursor-pointer" (click)="toggleVisibility($event)">
              <span class="card-header-title">See More</span>
              <a class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </div>
            <div class="card-content hidden">
              <div class="notification" *ngFor="let structure of group.value">
                <div class="delete" (click)="destroyStructure(structure)"></div>
                {{structure.name}} created on {{structure.createdOn | date:'short'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>