<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-one-fifth">
        <aside class="menu">
          <p class="menu-label">
            Purchase
          </p>
          <ul class="menu-list">
            <li *ngFor="let structure of playerControllerService.structuresAvailableForPurchase | orderBy:'name'"
              (click)="purchaseStructure(structure)" title="{{structure.description}}. Ticks to complete: {{structure.ticksToComplete}}">
              <a>
                {{structure.name}}
                <br />
                <span class="subtitle is-size-7">
                  Cost:
                  <span [class.not-enough-resources]="playerControllerService.playerCurrency.food < structure.cost.food">{{structure.cost.food}}f</span>,
                  <span [class.not-enough-resources]="playerControllerService.playerCurrency.wood < structure.cost.wood">{{structure.cost.wood}}w</span>,
                  <span [class.not-enough-resources]="playerControllerService.playerCurrency.gold < structure.cost.gold">{{structure.cost.gold}}g</span>,
                  <span [class.not-enough-resources]="playerControllerService.playerCurrency.metal < structure.cost.metal">{{structure.cost.metal}}m</span>
                </span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="media" *ngFor="let group of playerControllerService.playerStructures | groupBy:'name' | orderBy:'key'">
          <div class="media-content">
            <div class="box">
              <h1 class="title">{{group.value[0].name}} ({{group.value.length}})</h1>
              <h2 class="subtitle">{{group.value[0].description}}</h2>
              <!-- <button *ngIf="structure.ticksTowardCompletion >= structure.ticksToComplete" class="button is-danger"
                  (click)="destroyStructure(structure)">Destroy</button>
                <span class="is-info" *ngIf="structure.ticksTowardCompletion >= structure.ticksToComplete">&nbsp;
                  {{structure.name}} created on {{structure.createdOn | date:'short'}} &nbsp;</span>
                <span *ngIf="structure.ticksTowardCompletion < structure.ticksToComplete" class="green is-italic">
                  <progress-bar [classes]="'progress is-info'" [max]="structure.ticksToComplete" [value]="structure.ticksTowardCompletion"
                    display="{{structure.getPercentComplete() + '%'}}"></progress-bar> -->
              <span *ngFor="let structure of group.value" class="icon">
                <i class="{{structure.icon}} fa-2x has-text-danger"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>