/* You can add global styles to this file, and also import other style files */
@import 'bulma';
@import '~bulma-extensions/bulma-switch/dist/css/bulma-switch.sass';

.hidden {
    display: none;
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}